<h1>New Brew</h1>

<form action="/items" method="post">
  <label>Brew Name: </label>
  <input type="text" name="brew[name]">
  <label>Brew Type: </label> #IPA, Ale, Malt, ect.
  <input type="text" name="brew[type]">
  <input type="submit">
</form>