<h1>Brew</h1>

<p><%= @brew.name %> - <%= @brew.draft %></p>


<% if check_brewmonger(@brew) %>
  <form action="/brews/<%=@brew.id%>" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete">
  </form>

  <a href="/brews/<%=@brew.id%>/edit">Edit this Brew</a>
<%end %>